<div class="Calculadora">
    <div class="Display bg-primary">
        <a class="HistorialBtn"><img src="https://image.flaticon.com/icons/png/512/61/61122.png" width="30px" height="29px" alt=""></a>
        <div class="subPantalla">{{SubText}}</div>
        <div class="pantalla">{{Text}}</div>
      </div>
    <div class="ContenedorBtn">
        <div class="eliminar">
            <button class="btn  operacion btn-primary" (click)="clearAll()">C</button>
            <button class="btn  operacion btn-primary" (click)="clear()">«</button>
        </div>
        <div>
            <button class="btn Numero" (click)="pressBtn('7')">7</button>
            <button class="btn Numero" (click)="pressBtn('8')">8</button>
            <button class="btn Numero" (click)="pressBtn('9')">9</button>
            <button class="btn operacion btn-primary" (click)="pressBtn('/')">/</button>
        </div>
        <div>
            <button class="btn Numero" (click)="pressBtn('4')">4</button>
            <button class="btn Numero"(click)="pressBtn('5')" >5</button>
            <button class="btn Numero" (click)="pressBtn('6')">6</button>
            <button class="btn operacion btn-primary" (click)="pressBtn('*')">*</button>

        </div>
        <div>
            <button class="btn Numero" (click)="pressBtn('1')">1</button>
            <button class="btn Numero" (click)="pressBtn('2')">2</button>
            <button class="btn Numero " (click)="pressBtn('3')">3</button>
            <button class="btn operacion btn-primary" (click)="pressBtn('-')">-</button>


        </div>
        <div>
            <button class="btn Numero " (click)="pressBtn('0')">0</button>
            <button class="btn Numero " (click)="pressBtn('.')">.</button>
            <button class="btn operacion btn-primary" (click)="Resultado()">=</button>
            <button class="btn operacion btn-primary" (click)="pressBtn('+')">+</button>          
        </div>
    </div>
</div> 