<div class="Calculadora">
    <div class="Display bg-primary">
        <div class="subPantalla"></div>
        <div class="pantalla"></div>
      </div>
    <div class="ContenedorBtn">
        <div class="eliminar">
            <button class="btn  operacion btn-primary" >C</button>
        </div>
        <div>
            <button class="btn Numero" >7</button>
            <button class="btn Numero" >8</button>
            <button class="btn Numero" >9</button>
            <button class="btn operacion btn-primary" >/</button>

        </div>
        <div>
            <button class="btn Numero" >4</button>
            <button class="btn Numero" >5</button>
            <button class="btn Numero" >6</button>
            <button class="btn operacion btn-primary" >*</button>


        </div>
        <div>
            <button class="btn Numero" >1</button>
            <button class="btn Numero" >2</button>
            <button class="btn Numero" >3</button>
            <button class="btn operacion btn-primary" >-</button>


        </div>
        <div>
            <button class="btn Numero" >0</button>
            <button class="btn Numero" >.</button>
            <button class="btn operacion btn-primary" >=</button>
            <button class="btn operacion btn-primary" >+</button>       
        </div>
    </div>
</div> 