<div class="Calculadora">
    <H3>Aqui la Calculadora</H3>
    <div>

    </div>
    <div class="Display">
        <div class="subPantalla"></div>
        <div class="pantalla"></div>
      </div>
    <div class="ContenedorBtn">
        <div class="eliminar">
            <button class="btn operacion" >C</button>
        </div>
        <div>
            <button class="btn Numero" >7</button>
            <button class="btn Numero" >8</button>
            <button class="btn Numero" >9</button>
            <button class="btn operacion" >/</button>

        </div>
        <div>
            <button class="btn Numero" >4</button>
            <button class="btn Numero" >5</button>
            <button class="btn Numero" >6</button>
            <button class="btn operacion" >*</button>

        </div>
        <div>
            <button class="btn Numero" >1</button>
            <button class="btn Numero" >2</button>
            <button class="btn Numero" >3</button>
            <button class="btn operacion" >-</button>

        </div>
        <div>
            <button class="btn Numero" >0</button>
            <button class="btn Numero" >.</button>
            <button class="btn operacion" >=</button>
            <button class="btn operacion" >+</button>      
        </div>
    </div>
</div> 